name: MLOps Assignment CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v3
      with:
        python-version: "3.9"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Generate Components (The Fix)
      run: |
        # This ensures the YAML files exist before we use them
        python src/pipeline_components.py

    - name: Compile Pipeline
      run: |
        python pipeline.py
    
    - name: Verify Output
      run: |
        ls -l pipeline.yaml